html,body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
/*nav部分*/
#nav{
	height: 0.88rem;
}
#nav ul{
	display: flex;
	justify-content: space-around;
	height: 0.88rem;
	position: relative;
}
#nav ul li{
	height: 0.88rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
#nav ul li a {
	display: flex;
	align-items: center;
}
.nav-c{
	display: flex;
	width: 4.60rem;
	height: 0.66rem;
	background: #e3e3e3;
	border-radius: 0.1rem;
	align-items: center;
	padding-left: 0.1rem;
}
.icon-sousuo{
	color: #9c9c9c;
}
.icon-houtui,.icon-more{
	color: #000;
	font-size: 0.4rem;
	font-weight: 600;
}

/*main部分*/
#main{
	display: flex;
	justify-content: space-between;
	width: 100%;
	background: #e2e2e2;
	border-top: 1px solid #e3e3e3;
}
.main-l{
	width: 23%;
	position: relative;
	border: 0;
	overflow-x: hidden;
	flex-shrink: 0;
}
.main-l a{
	display: flex;
	align-items: center;
	width: 1.2rem;
	height: 1rem;
	padding: 0 8px;
	border-bottom: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	background: #fff;
	
}
.main-l a span{
	font-size: 14px;
	color: #000;
}
.main-r{
	width: 4.86rem;
	overflow: auto;
	height: 100%;
}
.main-r>a{
	display: block;
	margin: 10px auto;
	width: 4.5rem;
}
.main-r>a>img{
	width: 4.48rem;
	height: 1.48rem;
}
.main-r p{
	font-size: 14px;
	font-weight: 700;
	padding-left: 5px ;
}
.remen{
	display: flex;
	flex-wrap: wrap;
}
.remen a{
	width: 33%;
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.remen a img{
	width: 80%;
	display: block;
	margin-bottom: 5px;
	vertical-align: top;
}
.remen a span{
	font-size: 12px;
}
.gengduo{
	display: flex;
	flex-wrap: wrap;
}
.gengduo a{
	width: 33%;
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.gengduo a img{
	width: 80%;
	display: block;
	margin-bottom: 5px;
	vertical-align: top;
}
.gengduo a span{
	font-size: 12px;
}

/*footer部分*/
#footer{
	
}

